/*=============================== start About ========================= */
.container h1{
    font-size: 40px;
    color: var(--mainColor) ;
    text-align: center;
    margin-top: 150px;
    
}
.Vision ,.Values  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #fff;
    margin:10px 0px;
}
.Mission  {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #fff;
    margin:10px 0px;
}
.Vision  img ,.Mission img ,.Values img{
    min-width: 300px;
    max-width: 450px;
    margin: 10px;
    border-radius: 5px;
}
.Vision  div  ,.Mission div ,.Values div{
    min-width: 300px;
    max-width: 450px;
    margin: 10px;

}
.Vision  div  h2,.Mission div h2,.Values div h2{
    color: var(--mainColor);
}
.Vision  div  p,.Mission div p,.Values div p{
    opacity: .5;
}