/*=============================== start About ========================= */
.container h1{
    font-size: 40px;
    color: var(--mainColor) ;
    text-align: center;
    margin: 50px;
}
.Vision ,.Values  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #fff;
    width: 80%;
    margin: 10px auto;
}
.Mission  {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #fff;
    width: 80%;
    margin:10px auto;
    border-radius: 5px;
}
.Vision  img ,.Mission img ,.Values img{
    width: 400px;
    margin: 20px;
    border-radius: 5px;
}
.Vision  div  ,.Mission div ,.Values div{
    width: 400px;
    margin: 20px;

}
.Vision  div  h2,.Mission div h2,.Values div h2{
    color: var(--mainColor);
}
.Vision  div  p,.Mission div p,.Values div p{
    opacity: .5;
}