.Dashcategories ,.Editcategories{
    margin-top: 150px;
}
.dashcategory-form{
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 600px;
    margin: auto;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #c2bfbf;
    margin-bottom: 50px;
}
.dashcategory-form label {
    color: var(--mainColor);
    width: 30%;
    font-size: 18px;
    font-weight: 500;
    
}
.dashcategory-form input {
    width: 70%;
    border-radius: 5px;
    height: 40px;
    border: 1px solid #c2bfbf;
}
.dashcategory-form button {
    background: var(--mainColor);
    color:#fff;
    height: 40px;
    border: none;
    border-radius: 10px;
}