
.article-componant{
    width: 80%;
    margin: auto;
}
.M-div {
    width: 100%;
    text-align: center;
}
.M-div img {
   width: 100%;
}

.M-div h1{
    font-size: 50px;
    font-weight: 700;
    color:var(--mainColor);
    margin: 0px 0px 50px;
}
.paragr-one{
    margin-top: 30px;
}
.paragr-one .P-title {
    color: var(--mainColor);
}