
.article-componant{
    width: 80%;
    margin: auto;
}
.M-div {
    padding:50px;
    width: 100%;
    text-align: center;
}
.M-div img {
    width: 400px;
}

.M-div h1{
    font-size: 50px;
    font-weight: 700;
    color:var(--mainColor);
}
.paragr-one{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    background: #fff;
}