/* ==============================start Footer ======================== */

.footer{
    background: var(--mainColor);
    color: var(--white);
    margin-top: 30px;
    padding: 40px 40px 10px;
}

.footer .footerTitle p {
    font-size: 30px;
    font-weight: 700;
    font-family: Courgette, Merriweather, Akshar;
    color: var(--white);
    text-align: center;
}
.footer .footer-body{
    display: flex;
    padding-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid var(--white);
}


.footer .Left .footerdisc p {
   padding-top: 20px;
   max-width: 300px;
   text-align: center;
   line-height: 1.3;
}
.footer .center{
    
    text-align: center;
}
.footer .center div a {
    color: var(--white);
    text-decoration: none;
    line-height: 1.3;
    font-size: 18px;
}
.footer .Right {
    text-align: center;
    line-height: 1.3;
}
.footer .Right a {
    margin: 5px;
    color: var(--white);
}
.footer .copyRights {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px 0px ;
}
/* ===============================End footer=========================== */