/* =====================================Start Products=========================== */
.Products{
    margin: 30px 100px;
}
.ProductsProduct {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.ProductsProduct .Product {
    width: 270px;
    padding: 10px;
    margin: 15px 0px;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 2px 2px 2px var(--box-shadow);

}
.product-img {
    height: 44vh;
}
.ProductsProduct img {
    max-height: 40vh;
}
.ProductsProduct .Product .productname {
    text-align: center;
    height: 50px;
    overflow: hidden;
    margin-bottom: 5px;
}
.ProductsProduct .Product span {
    margin-left: 30px;
    line-height: 1.5;
    opacity: .5;
    display: block;
}
.ProductsProduct .Product .productprice {
    color: teal;
    line-height: 1.5;
    margin-left: 30px;
}
.ProductsProduct .Product .buyNow {
    border-radius: 5px;
    background: teal;
    padding: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 40%;
}
/* Extra small devices (phones, 300px and down) */
@media only screen and (max-width: 300px) {
    .Products{
        margin: 30px 10px;
    }
    
}

/* Small devices (portrait tablets and large phones, 300px and up) */
@media only screen and (min-width: 300px) {
    .Products{
        margin: 30px 20px;
    }
    
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Products{
        margin: 30px 40px;
    }
    
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Products{
        margin: 30px 50px;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Products{
        margin: 30px 60px;
    }
    
}
@media only screen and (min-width: 1040px) {
    .Products{
        margin: 30px 70px;
    }
    
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Products{
        margin: 30px 10px;
    }
    
}

/* ===============================End Products=========================== */