.Editproduct{
    margin-top: 150px;
}
.Editproduct form {
    max-width: 700px;
    margin: auto;
    background: #fff;
    border: 1px solid #afacac;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;

}

.Editproduct form div label {
    font-size: 18px;
    color: var(--mainColor);
    width: 100px;
    margin: 10px;
}
.Editproduct form  input ,.Editproduct form select{
    width: 500px;
    height: 40px;
    margin: 10px;

  }
  .EditProductbtn{
    width: 200px !important;
    background: var(--mainColor);
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
  }